<div class="add-employee">
    <h2>Add New Employee</h2>
    <form (submit)="onSave()">
      <label>
        First Name:
        <input type="text" [(ngModel)]="newEmployee.firstName" name="firstName">
      </label>
      <label>
        Last Name:
        <input type="text" [(ngModel)]="newEmployee.lastName" name="lastName" >
      </label>
      <label>
        DOB:
        <input type="date" [(ngModel)]="newEmployee.dob" name="dob" >
      </label>
      <label>
        Qualification:
        <input type="text" [(ngModel)]="newEmployee.qualification" name="qualification" >
      </label>
      <label>
        Gender:
        <select [(ngModel)]="newEmployee.gender" name="gender" >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </label>
      <label>
        Blood Group:
        <select [(ngModel)]="newEmployee.bloodGroup" name="bloodGroup" >
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
      </label>
      <button type="submit">Save</button>
    </form>
  </div>
  
